<div class="h1 text-center">rFlik</div>

<% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
  <%= link_to "Add A picutre!", new_user_image_path(@user) %>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>
<% if @images.any? %>
  <% @images.each do |i| %>
  <br>
    <%=link_to i.title, image_path( i.id) %>
    <br>
    <%= image_tag i.avatar.url(:medium) %>
  <% end %>
  <% else %>
  <h2 class="text-center">There are no pictures</h2>
<%end %>
